<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="header">
	<nav
		class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
		<a href="/"
			class="navbar-brand d-flex align-items-center px-4 px-lg-5">
			<h2 class="m-0 text-primary">
				<i class="fa-brands fa-github-alt me-3"></i>PoppyRunning
			</h2>
		</a>
		<button type="button" class="navbar-toggler me-4"
			data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<div class="navbar-nav ms-auto p-4 p-lg-0">
				<a href="/" class="nav-item nav-link active">Home</a> <a
					<a href="/petmate/list" class="nav-item nav-link">펫메이트 보기</a>
					
				<div class="nav-item dropdown">
					<a href="#" class="nav-link dropdown-toggle"
						data-bs-toggle="dropdown" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">관리자메뉴</a>
					<div class="dropdown-menu fade-down m-0">
						<a href="/admin/petmate/new" class="dropdown-item"
							sec:authorize="isAuthenticated()">상품 등록</a>
						<a href="/admin/petmate/new" class="dropdown-item"
							sec:authorize="isAuthenticated()">펫메 관리</a>
					</div>
				</div>
				<div class="nav-item dropdown">
					<a href="#" class="nav-link dropdown-toggle"
						data-bs-toggle="dropdown" sec:authorize="isAuthenticated()">Pages</a>
					<div class="dropdown-menu fade-down m-0">
						<a href="/members/mypage" class="dropdown-item"
							sec:authorize="isAuthenticated()">my page</a>
						<a href="/reserved" class="dropdown-item"
							sec:authorize="isAuthenticated()">예약현황</a>
						<a href="/books/list" class="dropdown-item"
							sec:authorize="isAuthenticated()">예약보기</a>
					</div>
				</div>
				<a href="/members/login" class="nav-item nav-link"
					sec:authorize="isAnonymous()">login</a> <a href="/members/logout"
					class="nav-item nav-link" sec:authorize="isAuthenticated()">Logout</a>
			</div>
			<a href="/members/new"
				class="btn btn-primary py-4 px-lg-5 d-none d-lg-block"
				sec:authorize="isAnonymous()">회원가입<i
				class="fa fa-arrow-right ms-3"></i></a>
		</div>
	</nav>


</div>


</html>